* {
    box-sizing: border-box;
  }


body{
    font-size: large;
    color: black;
}


.navbar-brand{
    color: white;
    text-align: center;
}

.side{
    background-color: rgb(198, 221, 218);
    height: auto;
}

  /* Style the search field */
input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
button:hover {
    background: #0b7dda;
  }
  
.searchedC{
    background-color: white;
    border: 1px solid rgb(199, 196, 196);
    width: auto;
    font-size: large;
}

.new{
  border: 1px solid rgb(114, 114, 114);
}

#box{
  width: 200px;
  height: 200px;
  background-color: indianred;
}